<?xml version="1.0"?>

<launch>

    <arg name="load_robot_description" default="true"/>
    <arg name="debug" default="false" />

    <rosparam command="load" file="$(find sud2_moveit_config)/config/ros_controllers.yaml"/>
    
    <include file="$(find sud2_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="/use_gui" value="false"/>
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>

    <node name="ur_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <include file="$(find sud2_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
        <arg name="pipeline" value="ompl"/>
        <arg name="publish_monitored_planning_scene" value="true"/>
        <arg name="info" value="true"/>
    </include>

    <include file="$(find sud2_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find sud2_moveit_config)/launch/moveit.rviz"/>
    </include>

</launch>