<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e_robotiq">
    
    <!--Import frame-->
    <xacro:include filename="$(find ur5e2f_hang)/urdf/frame.xacro"/>

    <!--Import the ur5e robot-->
    <xacro:include filename="$(find ur_description)/urdf/ur5e.xacro"/>

    <!--Import the robotiq gripper-->
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85.xacro"/>


    <!--Join the UR5e with the Drawers Box-->
    <joint name="block_ur5_connection" type="fixed">
        <origin xyz="0 0 -0.005" rpy="0 ${radians(180)} ${radians(90)}"/>
        <parent link="top_link"/>
        <child link="base_link"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>
    

    <!--Join ur5 and robotiq gripper-->
    <joint name="tool0_gripper_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.57"/>
        <parent link="tool0"/>
        <child link="gripper_base_link"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>

    <!--Add an additional link just for planning that represents the tip of the closed gripper-->
    <joint name="joint_gripper_tip" type="fixed">
        <origin xyz="0.0 0.0 0.18" rpy="0.0 0.0 0.0"/>
        <parent link="tool0"/>
        <child link="gripper_tip"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>

    <!--Gripper tip-->
    <link name="gripper_tip">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.01"/>
            <inertia ixx="0.001" ixy="0.001" ixz="0.001" iyy="0.001" iyz="0.001" izz="0.001"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
        </collision>
    </link>

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
  </plugin>
</gazebo>

</robot>
